html
  head
    style
      include ./style.css
  body
    h1
    h1 
    h1(style='text-align: center;') Pagina: host.example.com
      p
      h1
      .container
        .jumbotron
          h4 Id Container:
            h1 #{hostname}
